.section2{
  
  position: relative;
}
.section2 .largeimage{
  width: 100%;
  height: 100%;
  display: block;
}
.section2 .smallimage{
  display: none;
}
.section2 .bodybanner{
  position: absolute;
  top: 40%;
  left: 20%;

}
.section2 .bodybanner h1{
  font-size: 3vw;
  text-transform: uppercase;
  color: #b4d539;
}

.section2 .bodybanner p{
  position: relative;
  color: white;
  font-size: 2.4vw;
  text-transform: uppercase;
}

.section2 .bodybanner .bannerpara  .linesdiv{
  position: absolute;
  right: 4%;
  bottom: 6%;
  width: 40%

}
.section2 .bodybanner .bannerpara .linesdiv .linediv{
  display: flex;
  gap:10px;
}
.section2 .bodybanner .bannerpara .linesdiv .linediv .onediv{
 width: 60%;
  height: 2px;
  background-color:#b4d539;
}
.section2 .bodybanner .bannerpara .linesdiv .twodiv{
  width: 10%;
  height: 2px;
  background-color:white;
}
@media only screen and (max-width: 700px) {
  .section2 .largeimage{
    display: none;
  }
  .section2 .smallimage{
    display: block;
    width: 100%;
    height: 100%;
  }
  .section2 .bodybanner h1{
    font-size: 7.7vw;
    
  }
  
  .section2 .bodybanner p{
    position: relative;
    color: white;
    font-size: 2.4vw;
    text-transform: uppercase;
  }
  .section2 .bodybanner{
    position: absolute;
    top: 30%;
    left: 7%;
  
  }
  
  .section2 .bodybanner .bannerpara  .linesdiv{
    position: relative;
    left: 13%;
    top: 15px;
    width:60%;
    
  }
  .section2 .bodybanner p{
     text-align: center;
    position: relative;
    right: 40px;
    
    font-size: 3.4vw;
   
  }
}